@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "Index";
}


<form method="post" action="~/NGOHome/PostImage" enctype="multipart/form-data" id="postform" >
    <div class="form-inline">

        <a href="#" class="btn btn-primary btn-lg" id="uploadbtn ">
            <span class="glyphicon glyphicon-paperclip" onclick="fileclick(); return false;"></span>
        </a>
        <span>Upload images/videos</span>
        <input type="file" id="file" name="file" data-badge="false"/>

    </div>
    <div class="form-horizontal">

        <div>

            @Html.TextArea("PostContent", null, new { @class = "form-control", placeholder = "Write message for post" })
        </div>

        <div id="menupost">
            <input type="submit" class="btn-primary" id="post" value="Post"  />
        </div>

    </div>
</form>

@Html.Partial("../UserHome/_Posts", Model)

@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}

