@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "Index";
}

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>*@

<script src="~/Scripts/chosen.jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#selectcategory").change(function () {

        //    if ($(this).val() >= 0) {

        //        $.post("/post/GetPostByCategory?category=" + $(this).val(), function (result) {

        //            // $("#loadMoreSection").append(result);
        //            //    console.log(result);
        //            if (result != null) {
        //                $("#postsection").html("");
        //                $("#loadMoreSection").html("");
        //                $("#loadMoreSection").append(result);
        //            }
        //            //    //console.log(result);
        //        });
        //    }

        //});

        $(".chosen-select-multiple").chosen();
        $('.chosen-select-multiple').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('.chosen-select-multiple').val('').trigger('chosen:updated');
                        $('.chosen-select-multiple').val('1').trigger('chosen:updated');
                    }
                });
            }
            else { $('.chosen-select-multiple').val('').trigger('chosen:updated'); }
            console.log($('.chosen-select-multiple').val().length);
        });
        $("#selectcategory").live("change", function () {
            var categoryList = $(this).val();
            //console.log(categoryList);
            if (categoryList == null) {
                categoryList = ['1'];
            }
            // console.log('inside');
            var things = JSON.stringify({ 'category': categoryList });
            $.ajax({
                contentType: 'application/json; charset=utf-8',

                type: 'POST',
                url: '/post/GetPostByCategory2',
                data: things,
                success: function (result) {
                    // console.log(result);
                    if (result != null) {
                       // alert(result);
                        $("#postsection").html("");
                        $("#loadMoreSection").html("");
                        $("#loadMoreSection").append(result);
                    }
                    $.post("/post/getpostCount", function (result1) {
                        // alert(result1);
                        var total = result1 - 5;

                        if (total <= 0) {
                            //alert(result1 + "" + total)

                            if (result1 <= 5 && result1 > 0) {
                                $(".btnLoad").val('No More Post');
                                $(".btnLoad").attr('disabled', true);
                            }
                            if (result1 <= 0) {
                                $(".btnLoad").val('No Post Found');
                                $(".btnLoad").attr('disabled', true);
                            }
                        }
                        else {
                            $(".btnLoad").prop("disabled", false);
                            $(".btnLoad").val("See More Posts");
                            //  alert("clickable");

                        }


                        // alert(result);
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });


        });

         Catlist =  $("#selectcategory").chosen();
        $('#selectcategory').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('#selectcategory').val('').trigger('chosen:updated');
                        $('#selectcategory').val('1').trigger('chosen:updated');
                    }

                });
            }
            else { $('#selectcategory').val('').trigger('chosen:updated'); }
            //console.log($('#selectcategory').val().length);
        });

    });
</script>

<div class="container">
 
  <div class="row col-sm-10 col-sm-push-1  selectcategory">
  
        @Html.DropDownList("selectcategory", (SelectList)ViewBag.category, new { id = "selectcategory", @data_placeholder="Search by Category", @class="form-control chosen-with-icon ", @multiple = "multiple" })
         </div>  
   
      <div class="row col-sm-10 col-sm-push-1">
    <form method="post" action="~/NGOHome/PostImage" enctype="multipart/form-data" id="postform">
      
    <div class="row panel panel-info uploadpanel">
      <div class="uploadpheadingcolor">
        <div class="panel-heading"><b>Upload Post</b></div>
          </div>
            <div class="panel-body uploadpanelbody">
                <div class=" form-inline col-sm-12  uploadimagesection  ">
            <a href="#" id="uploadbtn ">
               <span class="fa fa-picture-o fa-2x uploadimage" onclick="fileclick(); return false;"></span>
            </a>
            <a class="uploadimage"><span onclick="fileclick(); return false;"><strong>Upload Image</strong></span></a>
            <input type="file" id="file" name="file" data-badge="false" />
            <span id="uploadFileName"></span>
            @Html.DropDownList("category", (SelectList)ViewBag.categoryList, new { @class = "form-control chosen-select-multiple", @multiple = "multiple" })
        </div>
        <div class=" form-inline col-sm-12">

           
                @Html.TextArea("PostContent", null, new { id = "postContentTextArea", @class = "form-control", placeholder = "Write message for post" })
                <br />
             <input type="submit" class="btn btn-primary btn-lg right btnPost" id="post" value="Post" />
            
        </div>
            </div>

          </div>
 

    </form>
      
</div>
  
<div class="col-sm-12 col-xs-12">
    <p style="padding:5px;"></p>
</div>


      </div>


<div id="postsection" class="row  col-md-12 ">
    @Html.Partial("../UserHome/_Posts", Model)
</div>



<div id="loadMoreSection"></div>
<div  style="text-align:center">
 <input type="button" style=" background: transparent; border: none;outline:none;margin-bottom:20px; width:200px;"class="btnLoad" value="See more posts" id="btnLoad" align="center"> @*type="button"*@

  </div>

    
  

<br />
<br />
<br />




@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}

