@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <form method="post" action="~/NGOHome/PostImage" enctype="multipart/form-data" id="postform">
        <div class="form-inline">

            <a href="#" id="uploadbtn ">
              <span class="fa fa-picture-o fa-3x" onclick="fileclick(); return false;"></span>
            </a>
            <a class="uploadimage">  <span  onclick="fileclick(); return false;"><strong>Upload Image</strong></span></a>
            <input type="file" id="file" name="file" data-badge="false" />

        </div>
        <div class="form-horizontal">

            <div>
                @Html.TextArea("PostContent", null, new { @class = "form-control", placeholder = "Write message for post" })
            </div>

            <div id="menupost">
                <input type="submit" class="btn-primary right" id="post" value="Post" />
            </div>

        </div>
    </form>

    @Html.Partial("../UserHome/_Posts", Model)
</div>
@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}

