@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "Index";
}


<form method="post" action="~/NGOHome/PostImage" enctype="multipart/form-data" style="background-color: #e9eff1; padding-top: 5px; padding-right: 5px; padding-bottom: 25px; padding-left: 5px;">
    <div class="form-inline">

        <a href="#" class="btn btn-primary btn-lg" style="height: 40px; width: 60px">
            <span class="glyphicon glyphicon-paperclip" onclick="fileclick(); return false;"></span>
        </a>
        <span>Upload images/videos</span>
        <input type="file" id="file" name="file" data-badge="false" style="display: none" />

    </div>
    <div class="form-horizontal">

        <div>

            @Html.TextArea("PostContent", null, new { @class = "form-control", placeholder = "Write message for post" })
        </div>

        <div id="menu" style="float: right;">
            <input type="submit" class="btn-primary" id="post" value="Post" style="width: 70px; height: 25px; text-align: center; padding-top: 0;" />
        </div>

    </div>
</form>

@Html.Partial("../UserHome/_Posts", Model)

@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}

