@{
    ViewBag.Title = "Index";
}


@*<h1>welcome to  commonweal<h1>
    <div style="height:400px;width:600px">
<img src="../../Images/Hydrangeas.jpg" alt="Sorry image cant be displayed" style="height:400px;width:600px" />
        </div>*@
<h1>
    For a nation to be truly transformed, 
    there must be movements, civil societies, 
    NGOs that are spread all across the land to educate people on the issues of Personal Responsibility.
    If a nation or rather active citizens of a nation could successfully launch such campaigns and a good percentage of the populace begin to live by the principles of Personal Responsibility,
    which is “don’t blame others”,
    think of what you can do to fix it.
    Such a nation would cross the huddle of civilization in a record time.
</h1>