@{
    ViewBag.Title = "Index";
}


<h1>welcome to  commonweal<h1>
    <div style="height:400px;width:600px">
<img src="../../Images/Hydrangeas.jpg" alt="Sorry image cant be displayed" style="height:400px;width:600px" />
        </div>