	@{
    ViewBag.Title = "All Rights Reserved";
}

<h2><b>Welcome to Commonweal,</b></h2>
<br />
<h4>You have been successfully registered and your request is pending. Once your request will be approved by admin, then you can login to Commonweal.
    <br/><br/>To continue as a guest user <a href="/Home/">click here</a>.
</h4>



