@{
    ViewBag.Title = "All Rights Reserved";
}

<h2><b>Welcome to Commonweal,</b></h2>
<br />
<h4>You have been successfully registered and your request is pending. Once your request will approve by admin, then you can login <a href="/Login/">click here</a> to the Commonweal.
    <br/><br/>To redirect at home page <a href="/Home/">click here</a>.
</h4>


