
.container {
    margin-top: -30px;
    margin-bottom: 30px;
}

.btn1  {
    width:250px;
    margin-top:20px;
}

.form-group {
    font-size:17px;
    text-align:left;
    color:rgb(255, 121, 77);
}
.form-inline {
    font-size:20px;
   font-size:17px;
}
.jumbotron {
 color:lightgray;
background-color:#337ab7;
padding-top:15px;
padding-bottom:15px;
height: 160px;
}
.panel-heading {background-color:#337ab7;
}

a {
    font-size:20px;
    font-weight:400;

}
#ngo name {
    width:50%;
}

.custom-label {
    text-align: left;

}
#main12 {
position:relative;
margin-left: 25%;
}
.panel-default {
    margin-top:50px;
}

/*.form-horizontal {
    padding-right: 109px;
}*/
#horizontal {

    padding-right: 109px;
}
h5 {
color:red;
text-align:right;
}
.control-label {

    color:rgb(255, 121, 77);
}
label {
 color:rgb(255, 121, 77);

}
#submit {

font-size:17px;
}
.dropdown {
    margin-bottom:10px;
    display:inline; 
    margin-left: 1550px;
}
footer {
background-color:#337ab7; 
height: 80px;
 margin-top: 693px;
}
#dropdown1 {
 margin-bottom:10px; 
 display:inline; 
  margin-left: 1550px;
}
#dropdown2 {
 margin-bottom:10px;
 float: right; 
 display:inline ;
 margin-right: 175px;
}
#btn2{
    width:100px;
    background-color:crimson; 
    margin-bottom:30px; 
    border-color:white;
    color:white;


}
#main {
padding-left: 110px;
}
#forgetPassword {
margin-left:700px; 
font-size:14px;
}
/*#dropdown3 {

    background-color:ivory;
     width:100px;
}*/