<!DOCTYPE html>

<html>

<body>
    <form id="form1" class="form-horizontal" method="post" action="/Survey/index">
        <div class="container">
            <div>
                <h1 class="heading">UPWARD FEEDBACK</h1>
            </div>
            <div class="border">
                <div class="form-group rows">

                    <div class="col-md-4">
                        <label class="control-label margin">Name of the Reporting Mgr:</label>
                    </div>
                    <div class="col-md-3 col-md-pull-1">
                        <span></span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Name of the employee:</label>
                    </div>
                    <div class="col-md-3 ">
                        <span></span>
                    </div>


                </div>
                <div class="form-group rows">

                    <div class="col-md-4">
                        <label class="control-label margin">Position of the Reporting Mgr:</label>
                    </div>
                    <div class="col-md-3 col-md-pull-1">
                        <span></span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Designation:</label>
                    </div>
                    <div class="col-md-3 ">
                        <span></span>
                    </div>


                </div>
                <div class="form-group rows">

                    <div class="col-md-4">
                        <label class="control-label margin">Location:</label>
                    </div>
                    <div class="col-md-3 col-md-pull-1">
                        <span></span>
                    </div>



                </div>
                <div class="border-top ">
                    <p class="margin">This Questionnaire is intended to receive your feedback on the performance of your Level 1/2/3 reporting. Your feedback will be kept anonymous while it will be shared amongst the leadership team. And this is to assure you that under no circumstances your feedback form will be shared with your reporting manager (s)</p>

                    <p class="margin">
                        The objective of this exercise is to increase the effectiveness of your leadership team. Through this exercise we hope to create an environment of: <b>CREATIVE FREEDOM, EQUALITY at WORKPLACE and OPENDOOR CULTURE</b> towards building SpiceJet as an <span class="underline"><b>“Employer of Choice”</b></span>.
                    </p>
                </div>
            </div>
            <div>
                <p class="text-center padding"><b>Feedback of –  Mr/Ms---------------</b></p>
                <ul>
                    <li><b>On a scale of 1 to 5, please rate this supervisor on the following, where 1 is the minimum and 5 is the maximum.</b></li>
                </ul>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-7 center">Parameters</th>
                        <th class="col-sm-1 center">5</th>
                        <th class="col-sm-1 center">4</th>
                        <th class="col-sm-1 center">3</th>
                        <th class="col-sm-1 center">2</th>
                        <th class="col-sm-1 center">1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>He/She expresses commitment to tasks and adheres to performance standards</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio" /></td>
                        <td class="center"><input type="radio" value="4" name="radio" /></td>
                        <td class="center"><input type="radio" value="3" name="radio" /></td>
                        <td class="center"><input type="radio" value="2" name="radio" /></td>
                        <td class="center"><input type="radio" value="1" name="radio" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>He/ She functions as per standard processes and systems and follows procedures</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio1" /></td>
                        <td class="center"><input type="radio" value="4" name="radio1" /></td>
                        <td class="center"><input type="radio" value="3" name="radio1" /></td>
                        <td class="center"><input type="radio" value="2" name="radio1" /></td>
                        <td class="center"><input type="radio" value="1" name="radio1" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is able to articulate complex ideas and concepts and make them clear to others</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio2" /></td>
                        <td class="center"><input type="radio" value="4" name="radio2" /></td>
                        <td class="center"><input type="radio" value="3" name="radio2" /></td>
                        <td class="center"><input type="radio" value="2" name="radio2" /></td>
                        <td class="center"><input type="radio" value="1" name="radio2" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Displays knowledge of subject for achieving results</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio3" /></td>
                        <td class="center"><input type="radio" value="4" name="radio3" /></td>
                        <td class="center"><input type="radio" value="3" name="radio3" /></td>
                        <td class="center"><input type="radio" value="2" name="radio3" /></td>
                        <td class="center"><input type="radio" value="1" name="radio3" /></td>
                    </tr>

                    <tr>
                        <td>
                            <ul>
                                <li>Develops and sustains cooperative working relationships with colleagues and peers</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio4" /></td>
                        <td class="center"><input type="radio" value="4" name="radio4" /></td>
                        <td class="center"><input type="radio" value="3" name="radio4" /></td>
                        <td class="center"><input type="radio" value="2" name="radio4" /></td>
                        <td class="center"><input type="radio" value="1" name="radio4" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Develops and sustains cooperative working relationships with colleagues and peers</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio5" /></td>
                        <td class="center"><input type="radio" value="4" name="radio5" /></td>
                        <td class="center"><input type="radio" value="3" name="radio5" /></td>
                        <td class="center"><input type="radio" value="2" name="radio5" /></td>
                        <td class="center"><input type="radio" value="1" name="radio5" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is able to identify issues and risks and communicates to team and different stakeholders with solutions</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio6" /></td>
                        <td class="center"><input type="radio" value="4" name="radio6" /></td>
                        <td class="center"><input type="radio" value="3" name="radio6" /></td>
                        <td class="center"><input type="radio" value="2" name="radio6" /></td>
                        <td class="center"><input type="radio" value="1" name="radio6" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is fair and practical in dealing with the team</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio7" /></td>
                        <td class="center"><input type="radio" value="4" name="radio7" /></td>
                        <td class="center"><input type="radio" value="3" name="radio7" /></td>
                        <td class="center"><input type="radio" value="2" name="radio7" /></td>
                        <td class="center"><input type="radio" value="1" name="radio7" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Comes up with new ideas to achieve results and encourages innovation and sharing of ideas</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio8" /></td>
                        <td class="center"><input type="radio" value="4" name="radio8" /></td>
                        <td class="center"><input type="radio" value="3" name="radio8" /></td>
                        <td class="center"><input type="radio" value="2" name="radio8" /></td>
                        <td class="center"><input type="radio" value="1" name="radio8" /></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-7 center">Parameters</th>
                        <th class="col-sm-1 center">5</th>
                        <th class="col-sm-1 center">4</th>
                        <th class="col-sm-1 center">3</th>
                        <th class="col-sm-1 center">2</th>
                        <th class="col-sm-1 center">1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li> Builds and sustains working relationship with team members to achieve common goals</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio9" /></td>
                        <td class="center"><input type="radio" value="4" name="radio9" /></td>
                        <td class="center"><input type="radio" value="3" name="radio9" /></td>
                        <td class="center"><input type="radio" value="2" name="radio9" /></td>
                        <td class="center"><input type="radio" value="1" name="radio9" /></td>

                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li> Is able to manage difference of opinion / team conflicts and drives them to a consensus</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio10" /></td>
                        <td class="center"><input type="radio" value="4" name="radio10" /></td>
                        <td class="center"><input type="radio" value="3" name="radio10" /></td>
                        <td class="center"><input type="radio" value="2" name="radio10" /></td>
                        <td class="center"><input type="radio" value="1" name="radio10" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li> Builds constructive relationships with multiple stakeholders across functions.</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio11" /></td>
                        <td class="center"><input type="radio" value="4" name="radio11" /></td>
                        <td class="center"><input type="radio" value="3" name="radio11" /></td>
                        <td class="center"><input type="radio" value="2" name="radio11" /></td>
                        <td class="center"><input type="radio" value="1" name="radio11" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Continuously coaches and mentors team members for professional growth </li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio12" /></td>
                        <td class="center"><input type="radio" value="4" name="radio12" /></td>
                        <td class="center"><input type="radio" value="3" name="radio12" /></td>
                        <td class="center"><input type="radio" value="2" name="radio12" /></td>
                        <td class="center"><input type="radio" value="1" name="radio12" /></td>
                    </tr>

                    <tr>
                        <td>
                            <ul>
                                <li> Is focused in achieving team goals. Plans and organizes work/ tasks accordingly</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio13" /></td>
                        <td class="center"><input type="radio" value="4" name="radio13" /></td>
                        <td class="center"><input type="radio" value="3" name="radio13" /></td>
                        <td class="center"><input type="radio" value="2" name="radio13" /></td>
                        <td class="center"><input type="radio" value="1" name="radio13" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Takes ownership for team results, Identifies improvement areas of team members that affect performance and communicates the same</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio14" /></td>
                        <td class="center"><input type="radio" value="4" name="radio14" /></td>
                        <td class="center"><input type="radio" value="3" name="radio14" /></td>
                        <td class="center"><input type="radio" value="2" name="radio14" /></td>
                        <td class="center"><input type="radio" value="1" name="radio14" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Defines goals and targets of the team  and drives them to achieve results within timelines.</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio15" /></td>
                        <td class="center"><input type="radio" value="4" name="radio15" /></td>
                        <td class="center"><input type="radio" value="3" name="radio15" /></td>
                        <td class="center"><input type="radio" value="2" name="radio15" /></td>
                        <td class="center"><input type="radio" value="1" name="radio15" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Communicates effectively and clearly; listens attentively, maintains eye contact, treats team members with respect and dignity.</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio16" /></td>
                        <td class="center"><input type="radio" value="4" name="radio16" /></td>
                        <td class="center"><input type="radio" value="3" name="radio16" /></td>
                        <td class="center"><input type="radio" value="2" name="radio16" /></td>
                        <td class="center"><input type="radio" value="1" name="radio16" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Motivates team members to think positively and gives/ seeks clarifications when more information is required</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio17" /></td>
                        <td class="center"><input type="radio" value="4" name="radio17" /></td>
                        <td class="center"><input type="radio" value="3" name="radio17" /></td>
                        <td class="center"><input type="radio" value="2" name="radio17" /></td>
                        <td class="center"><input type="radio" value="1" name="radio17" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Proactively shares information and facilitates discussion with team and other stakeholders</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio18" /></td>
                        <td class="center"><input type="radio" value="4" name="radio18" /></td>
                        <td class="center"><input type="radio" value="3" name="radio18" /></td>
                        <td class="center"><input type="radio" value="2" name="radio18" /></td>
                        <td class="center"><input type="radio" value="1" name="radio18" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is able to create and sustain energy and enthusiasm within the team</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio19" /></td>
                        <td class="center"><input type="radio" value="4" name="radio19" /></td>
                        <td class="center"><input type="radio" value="3" name="radio19" /></td>
                        <td class="center"><input type="radio" value="2" name="radio19" /></td>
                        <td class="center"><input type="radio" value="1" name="radio19" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Follows through the task till it is completed inspite of any changes</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio20" /></td>
                        <td class="center"><input type="radio" value="4" name="radio20" /></td>
                        <td class="center"><input type="radio" value="3" name="radio20" /></td>
                        <td class="center"><input type="radio" value="2" name="radio20" /></td>
                        <td class="center"><input type="radio" value="1" name="radio20" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Demonstrates openness to change in processes and technology, adapts to changes positively.</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio21" /></td>
                        <td class="center"><input type="radio" value="4" name="radio21" /></td>
                        <td class="center"><input type="radio" value="3" name="radio21" /></td>
                        <td class="center"><input type="radio" value="2" name="radio21" /></td>
                        <td class="center"><input type="radio" value="1" name="radio21" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is able to foresee changes and prioritizes work as per requirement</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio22" /></td>
                        <td class="center"><input type="radio" value="4" name="radio22" /></td>
                        <td class="center"><input type="radio" value="3" name="radio22" /></td>
                        <td class="center"><input type="radio" value="2" name="radio22" /></td>
                        <td class="center"><input type="radio" value="1" name="radio22" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Is aware of the current market trends, opportunities and risks and adapts to them</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio23" /></td>
                        <td class="center"><input type="radio" value="4" name="radio23" /></td>
                        <td class="center"><input type="radio" value="3" name="radio23" /></td>
                        <td class="center"><input type="radio" value="2" name="radio23" /></td>
                        <td class="center"><input type="radio" value="1" name="radio23" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Has understanding of current and updated technology and is able to use them for business processes</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio24" /></td>
                        <td class="center"><input type="radio" value="4" name="radio24" /></td>
                        <td class="center"><input type="radio" value="3" name="radio24" /></td>
                        <td class="center"><input type="radio" value="2" name="radio24" /></td>
                        <td class="center"><input type="radio" value="1" name="radio24" /></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-7 center">Parameters</th>
                        <th class="col-sm-1 center">5</th>
                        <th class="col-sm-1 center">4</th>
                        <th class="col-sm-1 center">3</th>
                        <th class="col-sm-1 center">2</th>
                        <th class="col-sm-1 center">1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>Encourages continuous training and development of team members</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio25" /></td>
                        <td class="center"><input type="radio" value="4" name="radio25" /></td>
                        <td class="center"><input type="radio" value="3" name="radio25" /></td>
                        <td class="center"><input type="radio" value="2" name="radio25" /></td>
                        <td class="center"><input type="radio" value="1" name="radio25" /></td>

                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Identifies performers and empowers them</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio26" /></td>
                        <td class="center"><input type="radio" value="4" name="radio26" /></td>
                        <td class="center"><input type="radio" value="3" name="radio26" /></td>
                        <td class="center"><input type="radio" value="2" name="radio26" /></td>
                        <td class="center"><input type="radio" value="1" name="radio26" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Defines and communicates career path to the team clearly</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio27" /></td>
                        <td class="center"><input type="radio" value="4" name="radio27" /></td>
                        <td class="center"><input type="radio" value="3" name="radio27" /></td>
                        <td class="center"><input type="radio" value="2" name="radio27" /></td>
                        <td class="center"><input type="radio" value="1" name="radio27" /></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Shares knowledge, experience and materials with the team to achieve goals</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio28" /></td>
                        <td class="center"><input type="radio" value="4" name="radio28" /></td>
                        <td class="center"><input type="radio" value="3" name="radio28" /></td>
                        <td class="center"><input type="radio" value="2" name="radio28" /></td>
                        <td class="center"><input type="radio" value="1" name="radio28" /></td>
                    </tr>


                </tbody>
            </table>
            <div>

                <ul>
                    <li class="underline lipadding"><b>KINDLY MENTION YOUR OPINION (WITH EXAMPLE WHERE APPLICABLE) ABOUT YOUR LEVEL 1/2/3 MANAGER ON THE BELOW MENTIONED POINTS.</b></li>
                </ul>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-7 center"></th>
                        <th class="col-sm-3 center">Yes</th>
                        <th class="col-sm-2 center">No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Does he/ she demonstrate integrity at all time?
                        </td>


                        <td class="center"><input type="radio" value="0" name="radio29" /></td>
                        <td class="center"><input type="radio" value="1" name="radio29" /></td>


                    </tr>

                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-7 center"></th>
                        <th class="col-sm-2 center">Significant</th>
                        <th class="col-sm-2 center">Moderate</th>
                        <th class="col-sm-1 center">No Change</th>
                    </tr>


                </thead>
                <tbody>
                    <tr>
                        <td>
                            How has this supervisor’s performance changed in the last three months?

                        </td>

                        <td class="center"><input type="radio" value="1" name="radio30" /></td>
                        <td class="center"><input type="radio" value="2" name="radio30" /></td>
                        <td class="center"><input type="radio" value="3" name="radio30" /></td>



                    </tr>

                </tbody>
            </table>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td class="col-sm-7">
                            One strength of this person (If any).


                        </td>

                        <td class="col-sm-5 heading"><input type="text" class="textboxwidth" /></td>


                    </tr>
                    <tr>
                        <td class="col-sm-7">
                            One attribute this person should change to become more effective.



                        </td>

                        <td class="col-sm-5 heading"><input type="text" class="textboxwidth" /></td>


                    </tr>
                </tbody>
            </table>
            <div>
                <p class="underline lipadding"><b>(III)- PLEASE RATE YOUR  LEVEL 1/2/3 MANAGER ON A SCALE OF 1 TO 5, WHERE 5 IS MAXIMUM AND 1 IS MINIMUM.</b></p>

            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-7 centers">Ratings</th>
                        <th class="col-sm-1 center">5</th>
                        <th class="col-sm-1 center">4</th>
                        <th class="col-sm-1 center">3</th>
                        <th class="col-sm-1 center">2</th>
                        <th class="col-sm-1 center">1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>I am satisfied being a part of my Level 1/2/3 manager’s team.</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio31" /></td>
                        <td class="center"><input type="radio" value="4" name="radio31" /></td>
                        <td class="center"><input type="radio" value="3" name="radio31" /></td>
                        <td class="center"><input type="radio" value="2" name="radio31" /></td>
                        <td class="center"><input type="radio" value="1" name="radio31" /></td>

                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>I have developed respect for my Level 1/2/3 manager and can look up to her/him for anything</li>
                            </ul>
                        </td>
                        <td class="center"><input type="radio" value="5" name="radio32" /></td>
                        <td class="center"><input type="radio" value="4" name="radio32" /></td>
                        <td class="center"><input type="radio" value="3" name="radio32" /></td>
                        <td class="center"><input type="radio" value="2" name="radio32" /></td>
                        <td class="center"><input type="radio" value="1" name="radio32" /></td>
                    </tr>

                </tbody>
            </table>
            <div>
                <p class="underline lipadding"><b>(IV)- REMARKS</b></p>

            </div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td class="col-sm-7">Some observations on your Level 1/2/3 manager:</td>
                        <td class="col-sm-5"><textarea class="textboxwidth"></textarea></td>


                    </tr>


                </tbody>
            </table>
            <input type="submit" id="submitbutton" class="btn btn-primary submitbutton" />
        </div>
    </form>
</body>
</html>



