

<!DOCTYPE html>

<html>

<body>
    <div class="row col-md-12">
        <input type="submit" id="submitbutton" class="btn btn-primary col-md-6 col-md-push-4" value="Start Survey" />
    </div>
</body>
</html>
