
@{
    ViewBag.Title = "Index";
}


    <div class="row col-md-12">
        <a href="/SurveyLink/Surveylink"><input type="submit" id="submitbutton" class="btn btn-primary col-md-6 col-md-push-4" value="Start Survey" /></a>
    </div>



