
<script>
    /*added on 10-01-2017*/
    var wrapper = $(".input_fields_wrap");
    var w = $(".input_fields_wr");
    var b = $(".btn-fields");
    var Add = 10;
    var i = 1;
    var ItemRow = { '0': 0 };
    var j = 0;
    var temp = 0;
    var counter = [];


    $(document).ready(function () {
        $("#donationfile").hide();
        $("#requestimagebutton").hide();
        $("#requestbutton").hide();
        $("#donationrequestimage").click(function () {
            $("#donationfile").show();
            $("#requestimagebutton").show();
            $("#requestbutton").show();

        });






        $('#donationtemplate').on('click', '#Add', function () {
            console.log(counter.length + " ," + Add);
            if (counter.length < Add) {


                if ($('tr').length== 2) {
                    $(this).parents('td').before('<td class="btn-fields al-center" "><button  id="Minus-0" class="fa fa-minus Minus"  style="width: 24px; height: 22px;    margin-top: 11px;  background: none; border: none;color: #2e6da4;"/></td></tr>');
                }
                $(this).parents('td').remove();
                console.log('add' + $('tr').length);

                var row = '<tr id="row' + i + '" class="row ajaxrow lastrow inputfildrow">';
                row = row + ' <td class="input_fields_wrap al-center"><input type="text" id="itemname' + i + '"class="itemname cleanfield tbl-td required" style="width: 180px;"/></td>';
                row = row + ' <td class="input_fields_wr al-center"><input type="text"  id="quantity' + i + '" class="quantity cleanfield tbl-td required" onkeypress="return isNumber(event)"  style="width: 59px;"/></td>';

                row = row + '<td class="btn-fields al-center" "><button  id="Minus-' + i + '" class="fa fa-minus Minus"  style="width: 24px; height: 22px;    margin-top: 11px;  background: none; border: none;color: #2e6da4;"/></td>';
                row = row + '<td class="btn-fields al-center" ><button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" /></td></tr>';
                $("#RequestItemTable").append(row);
                ItemRow[i] = i;


                i++; j++;
            }
            counter.push(i);

        });


        $("#cancelrequest").click(function () {

            $('#postContentTextArea').val("");
            $('#file').val("");
            $('.ajaxrow').remove();
            $('.cleanfield').val("");
            $('.inputfildrow').remove();
            $('#sampleimage').remove();
            var rownew = '<tr id="row0" class="row ajaxrow lastrow inputfildrow">';
            rownew = rownew + ' <td class="input_fields_wrap al-center"><input type="text" id="itemname0"class="itemname cleanfield tbl-td" style="width: 180px;"/></td>';
            rownew = rownew + ' <td class="input_fields_wr al-center"><input type="text"  id="quantity0" class="quantity cleanfield tbl-td" style="width: 59px;"/></td>';


            rownew = rownew + '<td class="btn-fields al-center" ><button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" /></td></tr>';
            $("#RequestItemTable").append(rownew);

            while (counter.length) {
                counter.pop();

            }
            console.log(ItemRow);
            ItemRow = { '0':0};

        });



        $(document).on('click', '.Minus', function () {


            var id = $(this).attr('id').split('-')[1];
            counter.pop(id);
            // console.log(id);
            var trlen=$('tr').length;
            if (trlen > 2) {


                delete ItemRow[id];
                j--;


                if ($(this).parents('td').siblings().length == 3) {
                    var PrelastTD = $("#Minus-" + id).parents('tr').prev().find('td:last');
                    PrelastTD.after('<td class="btn-fields al-center" ><button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" /></td>');

                }


                console.log(trlen);
                //  console.log($("#Minus-" + id).parents('td').siblings().length);
                //  console.log(PrelastTD);

                //if (prev1[0] == 'Add')
                //{
                //    console.log('in');

                //}

                $(this).parents('tr').remove();
                if (trlen == 3) {
                    $(".Minus").parents('td').remove();
                    // $("#Minus-" + id).parents('tr').prev().find('.Minus').parents('td').remove();
                }
            }




        });


        /*jquery method for required field */
        $('#submitrequest').click(function () {
            var isValid = true;
            /*check for empty field*/
            $('.required').each(function () {
                if ($(this).val() == '' && $(this).val().trim() == '') {
                    $(this).addClass('error');
                    isValid=false;
                }
                else {
                    $(this).removeClass('error');
                }
            });
            console.log(isValid);
            if (isValid) {

                var formData = new FormData(); //create form data object
                var obj, Itemlist;
                Itemlist = [];

                jQuery.each(ItemRow, function (key, value) {
                    obj = {};

                    console.log(value);
                    obj["Item"] = $("#itemname" + value).val();
                    obj["ItemCount"] = parseInt($("#quantity" + value).val());
                    Itemlist.push(obj);

                });


                var description = $("#postContentTextArea").val();
                formData.append("description", description); // append description

                // append all itemlist to formdata

                jQuery.each(Itemlist, function (key, value) {
                    formData.append('itemlist[' + key + '].Item', value.Item);
                    formData.append('itemlist[' + key + '].ItemCount', value.ItemCount);
                });

                if (window.FormData !== undefined) {
                    var fileUpload = $("#file").get(0);
                    var files = fileUpload.files;
                    for (var k = 0; k < files.length; k++) {
                        formData.append("DonationRequestImg", files[k]);
                    }
                }
                //formData.append("DonationRequestImg", files[k]);
                $.ajax({
                    url: "/NGOProfile/SubmitDonationRequest",
                    type: "POST",
                    dataType: "JSON",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {

                        if (result == true) {


                            $('#postContentTextArea').val("");
                            $('#file').val("");
                            $('.ajaxrow').remove();
                            $('.cleanfield').val("");
                            $('.inputfildrow').remove();
                            $('#sampleimage').remove();
                            var rownew = '<tr id="row0" class="row ajaxrow lastrow inputfildrow">';
                            rownew = rownew + ' <td class="input_fields_wrap al-center"><input type="text" id="itemname0"class="itemname cleanfield tbl-td" style="width: 180px;"/></td>';
                            rownew = rownew + ' <td class="input_fields_wr al-center"><input type="text"  id="quantity0" class="quantity cleanfield tbl-td" style="width: 59px;"/></td>';


                            rownew = rownew + '<td class="btn-fields al-center" ><button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" /></td></tr>';
                            $("#RequestItemTable").append(rownew);
                            alert('Donation request submitted successfully');
                            while (counter.length) {
                                counter.pop();

                            }
                            console.log(ItemRow);
                            ItemRow = { '0':0};


                        }
                        else {

                            alert('Sorry upload Failed try again');

                        }
                    }
                });
            }

            $("#file").change(function (event) {

                var fileName = window.URL.createObjectURL(event.target.files[0])

                $("#uploadFileName").html("");
                $("#uploadFileName").append('<img src="' + fileName + '" style="height:40px;width:40px" id="sampleimage">');


            });

        });
        function fileclick() {
            $("#file").click();
        }
      
    });
    function fileclick() {
        $("#file").click();
    };

</script>
@*<script type="text/javascript">
        var rowId=0
        $(document).ready(function () {
            $(document).on('click','#Add', function () {
                rowId += 1;
                var str = '<tr id="row' + rowId + '" class="row"><td class="input_fields_wrap al-center"><input type="text" id="itemname' + rowId + '" class="itemname cleanfield  tbl-td" style="width: 180px;"/></td><td class="input_fields_wr al-center"><input type="text" class="quantity cleanfield tbl-td" id="quantity' + rowId + '" style="width: 59px;"/></td><td class="btn-fields al-center" ><button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" /><button id="Remove-' + rowId + '" class="fa fa-minus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" /></td></tr>';
                if (rowId == 1)
                {
                    $(this).after('<button id="Remove-0" class="fa fa-minus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" />');
                }
                $(this).remove();
                $('#RequestItemTable').append(str);
            });
            $(document).on('click', '.fa-minus', function () {
                if ($('tr').length > 2) {
                    var elemId = $(this).attr('id').split('-')[1];
                    var previousElement = $('#Remove-' + elemId).parents('tr').prev().find('td:last');

                    if ($(this).prev().length == 1) {
                        $('#Add').remove();
                        previousElement.prepend('<button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" />');


                    } $('#row' + elemId).remove();
                }

            });
        });
    </script>*@
<style>
    .error {
        border: 1px solid red;
    }
</style>
<div class="row col-md-12">

    <div id="donationtemplate">
        <div class="uploaddonationpheadingcolor">
            <div class="panel-heading"><b>Request for Donation</b></div>
        </div>
        <div class="panel-body uploaddonationpanelbody">
            <div class=" form-inline col-sm-12  uploadimagesection  ">
                <a href="#" id="uploadbtn " style="margin-left: 16px;">
                    <span class="fa fa-picture-o fa-2x uploadimage" onclick="fileclick(); return false;"></span>
                </a>
                <a class="uploadimage"><span onclick="fileclick(); return false;"><strong>Upload Image</strong></span></a>
                <input type="file" id="file" name="file" data-badge="false" />
                <span id="uploadFileName"></span>
                <div class=" form-inline col-sm-12">

                    @Html.TextArea("PostContent", null, new { id = "postContentTextArea", @class = "form-control", placeholder = "Discription about Donation" })
                    <br />
                    <table class="table" style="margin-bottom: 12px; border: none; margin-top: 0px;">
                        <thead class="thead-inverse tabledonationheader">
                            <tr class="row">

                                <th>Product</th>
                                <th>Quantity</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody id="RequestItemTable">
                            <tr id="row0" class="row inputfildrow">
                                <td class="input_fields_wrap al-center">
                                    <input type="text" id="itemname0" class="itemname cleanfield  tbl-td required" style="width: 180px;" />
                                </td>
                                <td class="input_fields_wr al-center">
                                    <input type="text" class="quantity cleanfield  numberfield tbl-td required" id="quantity0" onkeypress="return isNumber(event)" style="width: 59px;" title="Enter numbers only" />
                                </td>
                                <td class="btn-fields al-center">
                                    <button id="Add" class="fa fa-plus Add" style="width: 24px; height: 22px; margin-top: 11px; background: none; border: none;color: #2e6da4;" />
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    <center>
                        <span id="submitrequest" class=" btn btn-primary">Submit</span>
                        <span id="cancelrequest" class="btn btn-primary">Cancel</span>
                    </center>
                </div>
            </div>
        </div>

    </div>
</div>
