<script>
    /*added on 10-01-2017*/
    //$(document).ready(function () {


    //    var readURL = function (input) {
    //        if (input.files && input.files[0]) {
    //            var reader = new FileReader();

    //            reader.onload = function (e) {
    //                $('.profile-pic').attr('src', e.target.result);
    //            }

    //            reader.readAsDataURL(input.files[0]);
    //        }
    //    }


    //    $("#donationfile").on('change', function () {

    //        readURL(this);
    //    });

    //    $("#requestimagebutton").on('click', function (event) {

    //        //var fileName = $('#donationfile')[0].files[0];
    //        alert(URL.createObjectURL(event.target.files[0]));
    //        $('#donationfile').change(function (event) {
    //            var tmppath = URL.createObjectURL(event.target.files[0]);
    //            $("#donationrequestimage").fadeIn("fast").attr('src', tmppath);
    //        });
    //    });

        $("#donationfile").hide();
        $("#requestimagebutton").hide();
        $("#requestbutton").hide();
        $("#donationrequestimage").click(function () {
            $("#donationfile").show();
            $("#requestimagebutton").show();
            $("#requestbutton").show();

        });

        var wrapper = $(".input_fields_wrap");
        var w = $(".input_fields_wr");
        var submitbtn = 10;
        var i = 1;
        $("#submitbtn").click(function () {
            if (i < submitbtn) { 
               
                $(wrapper).append('<br/><input type="text" id="product" style="width:180px;height:32px;font-size: 14px; background-color: rgba(226, 226, 226, 0.34)"/>');
                $(w).append('<br/><input type="text" style="    width: 59px;height:32px;font-size: 12px; text-align:center; background-color: rgba(226, 226, 226, 0.34)"/>')
                i++;

            }
            

        });
      
               
</script>

<div class="col-md-12">
    <div class="row">
                <div class="panel panel-default">
                    <div class="info-header panel-heading">
                        <strong>Request for Donation</strong>
                    </div>
                    <div class="panel panel-body">
                        <div class="row col-md-12 col-lg-12 col-xs-12 xol-sm-12 donationrequestimagediv">
                     <img class="donationrequestimage " id="donationrequestimage" src="/Images/Tulips.jpg" title=""/>
                         <center><input type="file" id="donationfile" class="donationfile" name="donationfile" /> </center>
                         <center> <span  id="requestimagebutton" class="requestimagebutton btn btn-primary">Upload</span>
                        <span id="requestbutton" class="btn btn-primary">Cancel</span></center> 
                            </div>
                        <div class="row col-md-12 col-lg-12 col-xs-12 col-sm-12">
                         <center><p class="donationdiscription">Discription about Donation</p> </center> 
                            </div> 
                      
                       <div class="row col-md-12 col-lg-12 col-xs-12 col-sm-12 donationtextarea">   
                                  
                         <textarea class=" textDonation col-md-9 col-lg-9 col-xs-9 col-sm-9 col-md-push-2 col-lg-push-2 col-xs-push-2 col-sm-push-2"  id="" name="TextRequestDonation" placeholder="Discription about donation" rows="3"></textarea>

                           </div>
                        
    <table class="table table-striped" style="margin-bottom: 12px;">
  <thead class="thead-inverse tableheader">
    <tr>
      
      <th>Product</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    
      <td class="input_fields_wrap" style="text-align:center"><input type="text" id="product" style="width:180px;height:32px;font-size: 14px;    background-color: rgba(226, 226, 226, 0.34)"/></td>
     <td class="input_fields_wr" style="text-align:center"><input type="text" style="    width: 59px;height:32px;font-size: 12px; text-align:center;    background-color: rgba(226, 226, 226, 0.34)"/></td>
     <td style="text-align:center"><button type="submit" id="submitbtn" class="fa fa-plus"  style="width: 24px; height: 22px;    margin-top: 11px;"/></td>
    </tr>
     
  </tbody>
      
</table>
  <center> <span  id="" class=" btn btn-primary">Save</span>
                        <span id="" class="btn btn-primary">Cancel</span>         </center> 
                    </div>
                </div>
            </div>
            </div>