@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/NGOProfile.js"></script>

<link href="~/Content/NGOProfile.css" rel="stylesheet" />

<div class="content">
    @RenderBody()
</div>

