@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>


<div class=" ngoprofilenavbar">
    <div class="col-md-12">
        <div class="panel panel-default col-md-12 panelNGO column12">
            <div class="panel-heading">
                <center> <b class="profilesummary"> Profile summary</b></center>
            </div>
            <div class="panel-body col-md-12 " id="ngoprofilepanelbody">
                <div class="col-md-4 col-md-offset-5">
                    @*<img src="~/Images/sammanlogo.PNG"class="ngoprofilepic" /><br />*@


                   @* <img id="1" data-toggle="modal" data-target="#myModal2" src="#" class="img-rounded" />
                    <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="imagemodal modal-body">
                                    <img class="showimage img-responsive" src="#" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Change Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    @*   <b class="col-md- col-md-offset-2">@ViewBag.LoginUser.UserName</b>*@
                </div>
            </div>
            @*NGO Profile header Start*@
            <div class="panel-group navbar-fixed">
                <div class="sticky">
                    <ul class="ultext nav nav-tabs">
                        <li id="profilepost"><a href="/NGOProfile/Index/">Post</a></li>
                        @*<li><a href="/NGOProfile/Index/">Post</a></li>*@
                        <li><a href="/NGOProfile/AboutUs/">About Us</a></li>
                        @*  <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Image</a></li>
                                <li><a href="#">Change background</a></li>

                            </ul>
                        </li>*@
                    </ul>
                </div>
            </div>

            @*NGO Profile header End*@
        </div>
    </div>
</div>
<div>
    @Html.Partial("../UserHome/_Posts", Model)
</div>

<div id="loadMoreSection"></div>
<div  style="text-align:center">
 <input type="button" style=" background: transparent; border: none;outline:none;margin-bottom:20px" value="See more posts" id="btnLoad" > @*type="button"*@

  </div>

<br/>
<br/>

@section scripts{
   
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Post/PostComment.js"></script>


}
