@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>


<div class=" ngoprofilenavbar">
    <div class="col-md-12">
        <div class="panel panel-default col-md-12 panelNGO column12">
            <div class="panel-heading">
                <center> <b class="profilesummary"> Profile summary</b></center>
            </div>
            <div class="panel-body col-md-12 " id="ngoprofilepanelbody">

                <div class="col-md-4 col-md-offset-5">
                    <div class="row form-inline col-sm-10 col-sm-push-12">
                       
                        <a href="#" id="uploadbtn ">
                            <span   data-toggle="tooltip" title="change Profile" class="glyphicon glyphicon-pencil" onclick="fileclick(); return false;"></span>
                        </a>
                        <a class="uploadimage"><span onclick="fileclick(); return false;"></span></a>
                        <input type="file" id="file" name="file" data-badge="false" />
                        <span id="uploadFileName"></span>


                        @*   <b class="col-md- col-md-offset-2">@ViewBag.LoginUser.UserName</b>*@
                    </div>
                </div>
            </div>
            @*NGO Profile header Start*@
            <div class="panel-group navbar-fixed">
                <div class="sticky">
                    <ul class="ultext nav nav-tabs">
                        <li id="profilepost"><a href="/NGOProfile/Index/">Post</a></li>

                        <li><a href="/NGOProfile/AboutUs/">About Us</a></li>

                    </ul>
                </div>
            </div>

            @*NGO Profile header End*@
        </div>
    </div>
</div>
<div>
    @Html.Partial("../UserHome/_Posts", Model)
</div>

<div id="loadMoreSection "></div>
<div style="text-align: center" class="row col-sm-12">
    <input type="button" style="background: transparent; border: none; outline: none; width: 200px; text-decoration: none;" value="See more posts" id="btnLoad;" align="center">
</div>
<br />
<br />

@section scripts{

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Post/PostComment.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


}
