@model CommonWeal.NGOWeb.ViewModel.NGOProfilePostCustom
<script src="~/Scripts/Post/PostComment.js"></script>
<link href="~/Content/NgoSearchBox/NgoSearch.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-ui.min.js"></script>*@

@Html.Partial("../UserHome/_SearchNGOPartial",Model.PostWithtopNgoModel.ngouser)


<div class="container">
    <div class="row">
        <div class="col-md-12 ngoprofilenavbar">
            <div class="panel panel-default  panelNGO ">
                <div class="profileheadingcolor">
                    <div class="panel-heading">
                        <center> <b class="profilesummary"> Profile Summary</b></center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body" id="ngoprofilepanelbody">
                            <form method="post" action="~/NGOProfile/PostImage" enctype="multipart/form-data" id="postform">
                                <div class="row">
                                    <div class="row col-md-4 col-md-push-4 profileimageborder">
                                        <div class="row  col-md-12 profile-img-container">

                                                                                    @{
                                                var src = "";
                                                if (Model.imageurl == null)
                                                { src = "~/Images/usergroupnew.png"; }
                                                else
                                                {
                                                    src = Model.imageurl;
                                                }
                                                <img class="profileimage img-thumbnail img-responsive" id="profileimage1" src="@src"/>
                                                                                    }  

                                        </div>
                                       

                                           

                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group navbar-fixed profileheadingcolor">
                            <ul class="ultext nav nav-tabs">
                                <li id="profilepost"><span id="NGOProfilepost-@Model.CurrentUserID" class="NGOProfilepost">Post</span></li>
                                <li><span id="aboutus-@Model.CurrentUserID"class="aboutus">About Us</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NGOProfilecontent">
    @Html.Partial("../NGOProfile/_NGOProfilePost", Model)
</div>
