@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <div class="image panel-default">
                <img src="~/Images/Koala.jpg" style="margin-top: 25px; width: 50%;" />
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <nav class="navbar navbar-default ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/NGOProfile/Index/">Timeline</a></li>
                    <li><a href="/Welcome/Index/">About Us</a></li>*@

                    @* <li><a href="#">Messages</a></li>*@
                   @* <li><a href="/NGOProfile/AboutUs/">Details</a></li>
                </ul>
            </nav>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">

            <form method="post" action="/Register/PostImage" class="col-md-8 col-md-offset-2" enctype="multipart/form-data" style=" padding-top: 5px;  padding-bottom: 25px; ">
                 <nav class="navbar navbar-default ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/NGOProfile/Index/">Timeline</a></li>
                    <li><a href="/NGOProfile/AboutUs/">About Us</a></li>
                    <li><a href="/NGOProfile/Index/">General</a></li>
                    @* <li><a href="#">Messages</a></li>*@
                   @* <li><a href="/NGOProfile/AboutUs/">Details</a></li>*@
                </ul>
            </nav>
               
            </form>
            
        </div>
    </div>
       
</div>
@Html.Partial("../UserHome/_posts", Model)
@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}

@* 
  <div class="post panel-default">
                <div class="panel-header">
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="glyphicon glyphicon-pencil">Status
                            </a>
                            <li>
                        <li>
                            <a href="#" class="glyphicon glyphicon-camera">Photo
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">dfdgdgdg</div>

                <div class="panel-footer">
                    <button type="button" value="">Post</button>
                </div>
            </div>*@