@model CommonWeal.NGOWeb.ViewModel.NGOProfilePostCustom
<script src="~/Scripts/Post/PostComment.js"></script>
<div class="container">

    <div class="row">
        <div class="col-md-12 ngoprofilenavbar">
            <div class="panel panel-default  panelNGO ">
                <div class="profileheadingcolor">
                <div class="panel-heading">
                    <center> <b class="profilesummary"> Profile Summary</b></center>
                </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body" id="ngoprofilepanelbody">
                            <form method="post" action="~/NGOProfile/PostImage" enctype="multipart/form-data" id="postform">
                                <div class="row">
                                    <div class="row col-md-4 col-md-push-4 profileimageborder">
                                        <div class="row  col-md-12 profile-img-container">

                                            @if (Model.imageurl!=null)
                                            {
                                                <img class="profileimage img-thumbnail img-responsive" id="profileimage" src="@Model.imageurl"/>
                                                <div class="profile-img-i-container">
                                                  
                                                    <i class="glyphicon glyphicon-camera fa-2x" id="pencil" onclick="fileclick(); return false;"></i>
                                                    <input type="file" id="file" name="file" data-badge="false" />
                                                </div>
                                            }
                                            else
                                            {
                                                 <img class="profileimage img-thumbnail img-responsive" id="profileimage" src="~/Images/usergroupnew.png" />
                                            <div class="profile-img-i-container">
                                                   
                                                    <i class="glyphicon glyphicon-camera fa-2x" id="pencil" onclick="fileclick(); return false;"></i>
                                                    <input type="file" id="file" name="file" data-badge="false" />
                                                </div>
                                            }

                                        </div>
                                        <input type="submit" id="uploadimage" value="Upload"><span onclick="fileclick(); return false;"></span></input>

                                        @*<span id="uploadFileName"></span>*@

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group navbar-fixed profileheadingcolor">
                            <ul class="ultext nav nav-tabs">
                                <li id="profilepost"><span id="NGOProfilepost-@Model.CurrentUserID" class="NGOProfilepost">Post</span></li>
                                <li><span id="aboutus-@Model.CurrentUserID"class="aboutus">About Us</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NGOProfilecontent">
    @Html.Partial("../NGOProfile/_NGOProfilePost", Model)
</div>




 <script>
        $(document).ready(function () {
            $("#uploadimage").hide();
            $("#pencil").click(function () {
                $("#uploadimage").show();
            });
        });
</script>












