
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="image panel-default">
                <img src="~/Images/images1.jpg " width="1140" height="500" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/NGOProfile/Index/">Timeline</a></li>
                    <li><a href="/NGOProfile/AboutUs/">About Us</a></li>
                    <li><a href="/NGOProfile/Album/">Album</a></li>
                    <li><a href="#">Messages</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="post panel-default">
                <div class="panel-header">
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="glyphicon glyphicon-pencil">Status
                            </a>
                            <li>
                        <li>
                            <a href="#" class="glyphicon glyphicon-camera">Photo
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">dfdgdgdg</div>

                <div class="panel-footer">
                    <button type="button" value="">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>
