@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
 <script src="~/Scripts/Post/PostComment.js"></script>
<div class=" ngoprofilenavbar">
    <div class="col-md-12">
        <div class="panel panel-default col-md-12 panelNGO column12">
            <div class="panel-heading">


                <center> <b class="profilesummary"> Profile summary</b></center>
            </div>
            <div class="panel-body col-md-12 " id="ngoprofilepanelbody">

                <div class="col-md-4 col-md-offset-5">
                    <div class="row ">
                        <div class="form-inline col-sm-10 col-sm-push-12">
                            <div class="container" style="background-color: lightgray; border: solid;">
                                <br />
                                @if (ViewBag.imageurl != null)
                                {
                                    <img src="@ViewBag.imageurl" style="height:150px; width:240px;"/>
                                }
                                <div class="form-inline">
                                    <span data-toggle="tooltip" title="change Profile" id="pencil" class="glyphicon glyphicon-pencil" onclick="fileclick(); return false;"></span>
                                    <input type="file" id="file" name="file" data-badge="false" />
                                    <input type="submit" id="uploadimage" value="upload image" style="width: 117px" />
                                </div>
                                @*a class="uploadimage"><span onclick="fileclick(); return false;"></span></a>*@

                                @*<span id="uploadFileName"></span>*@


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group navbar-fixed">
                <div class="sticky">
                    <ul class="ultext nav nav-tabs" >
                         <li id="profilepost"><span id="NGOProfilepost">Post</span></li>
                        
                                   
@*<a href="/NGOProfile/AboutUs"><button  type="submit" >AboutUs</button></a>*@
                                     &nbsp  
                                
                                
                                 <li><span id="aboutus" >About Us</span></li>
                                
                                    
@*<a href="/NGOProfile/AboutUs"><button  type="submit" >AboutUs</button></a>*@
                                       
                                 
                               

                    </ul>
                </div>
            </div>

        </div>
        @*  <div>
            <span id="lblResult"></span>
            </div>
            <br />*@
    </div>
</div>

<div id="NGOProfilecontent">


    @Html.Partial("../NGOProfile/_NGOProfilePost", Model)


  


    </div>
