@model IEnumerable<CommonWeal.Data.NGOUser>

 @Styles.Render("~/Contents/cssngosearch")
    <div class="side-nav  nav-list row col-md-2 col-xs-2 col-sm-2 col-lg-2">
         <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p style="padding:10px;"></p>
            </div>
            <div class="search-box">
                <div class="form-inline col-xs-9 col-sm-9 col-md-9 col-lg-9" style="    padding-right: 0px;">
                <input type="text" class="form-control search-form searchNGO" placeholder="Search NGO by Name" style="    font-size: 8px;
    padding-left: 7px;">   </div>
                <!--DO NOT NEED TRAILING SLASH "/" As HTML5 FORMS SLASHES ARE NO LONGER REQUIRED-->
    <button type="button" class=" btn btn-primary search-btn submitSelectedNGO col-xs-2 col-sm-2 col-md-2 col-lg-2" style="
        margin-top: 5px;
    padding-right: 20px;
    padding-top: 7px;
    padding-left: 5px;">
                      <i class="fa fa-search " style="    font-size: 11px;"></i>
                    </button>
         
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                </div>
      
     
        <div class="top-ngo list-inline">
            <div id="mySidenav" class="sidenav">
                <div  class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="top-text">Top NGOs</p>
                    </div>
                <ul class="list-top-ngo">
                    @foreach(var ngo in Model)
                    {
                        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <a class="ngo" href="/NGOProfile/Index/@ngo.LoginID">
                        <div class="ngo-list">
                            <li>@ngo.NGOName</li>
                        </div></a>
                          </div>
                    
                    }
                </ul>
            </div>
        </div>
    </div>
      </div>