@model IEnumerable<CommonWeal.Data.NGOUser>

<div class="container-fluid">
    <div class="side-nav  nav-list col-md-2">
        <div class="form-inline col-md-12">
            <div class="input-group search-box">
                <input type="text" class="form-control search-form searchNGO" placeholder="Search NGO by Name" style="font-size:15px">
                <!--DO NOT NEED TRAILING SLASH "/" As HTML5 FORMS SLASHES ARE NO LONGER REQUIRED-->
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary search-btn submitSelectedNGO">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="top-ngo col-md-12 list-inline">
            <div id="mySidenav" class="sidenav">
                <p class="top-text">Top NGOs</p>
                <ul class="list-top-ngo">
                    @foreach(var ngo in Model)
                    {
                    <a class="ngo" href="/NGOProfile/Index/@ngo.LoginID"><div class="ngo-list"><li>@ngo.NGOName</li></div></a>
                    
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
