@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "All Rights Reserved";
}


@*<div  style="background-color:gray;"></div>*@


@*  //post*@

@*  @Html.Partial("_posts", Model);*@


<script type="text/javascript">
    $(document).ready(function () {
        $("#selectcategory").live("change", function () {
            var categoryList = $(this).val();
            //console.log(categoryList);
            if (categoryList == null) {
                categoryList = ['1'];
            }
            // console.log('inside');
            var things = JSON.stringify({ 'category': categoryList });
            $.ajax({
                contentType: 'application/json; charset=utf-8',

                type: 'POST',
                url: '/post/GetPostByCategory2',
                data: things,
                success: function (result) {
                    // console.log(result);
                    if (result != null) {
                        $("#postsection").html("");
                        $("#loadMoreSection").html("");
                        $("#loadMoreSection").append(result);
                    }
                    $.post("/post/getpostCount", function (result1) {
                        // alert(result1);
                        var total = result1 - 5;
                        
                        if (total <= 0) {
                            //alert(result1 + "" + total)
                          
                            if (result1 <= 5 && result1>0) {
                                $(".btnLoad").val( 'No More Post');
                               $(".btnLoad").attr('disabled', true);
                            }
                            if (result1 <= 0) {
                                $(".btnLoad").val('No Post Found');
                               $(".btnLoad").attr('disabled', true);
                            }
                        }
                        else {
                            $(".btnLoad").prop("disabled", false); 
                            $(".btnLoad").val("See More Posts");
                          //  alert("clickable");
                           
                        }

                        
                        // alert(result);
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });


        });

        $("#selectcategory").chosen();
        $('#selectcategory').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('#selectcategory').val('').trigger('chosen:updated');
                        $('#selectcategory').val('1').trigger('chosen:updated');
                    }

                });
            }
            else { $('#selectcategory').val('').trigger('chosen:updated'); }
            //console.log($('#selectcategory').val().length);
        });



    });

  </script>
   <div class="container-fluid">
 <div class="row col-xs-6 col-xs-offset-6 col-sm-1 col-sm-offset-10  navbar-fixed-top selectcategory">
        @Html.DropDownList("selectcategory", (SelectList)ViewBag.category, new { id = "selectcategory", @data_placeholder="Search By Categories", @class="chosen-with-icon ", @multiple = "multiple" })
            
        </div>
  </div>    
<br/>
<br/>

<div id="postsection">
    @Html.Partial("../UserHome/_Posts", Model)
         </div>   


<div id="loadMoreSection"></div>

<div  style="text-align:center"id="morePost">
 <input type="button" style=" background: transparent; border: none;outline:none;margin-bottom:20px; width:200px;" value="See more posts" class="btnLoad" id="btnLoad" align="center"> @*type="button"*@

  </div>


@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
