@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "Index";
}


@*<div  style="background-color:gray;"></div>*@


@*  //post*@

@*  @Html.Partial("_posts", Model);*@



    @*//end upload post*@
    @Html.Partial("../UserHome/_posts", Model)
    



@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
