@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>

@{
    ViewBag.Title = "All Rights Reserved";
}


@*<div  style="background-color:gray;"></div>*@


@*  //post*@

@*  @Html.Partial("_posts", Model);*@
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectcategory").change(function () {

            if ($(this).val() >= 0) {
                $.post("/post/GetPostByCategory2?category=" + $(this).val(), function (result) {

                    // $("#loadMoreSection").append(result);
                    //    console.log(result);
                    if (result != null) {
                        $("#postsection").html("");
                        $("#loadMoreSection").html("");
                        $("#loadMoreSection").append(result);
                    }
                    //    //console.log(result);
                });
            }

        });

        $("#selectcategory").chosen();
        $('#selectcategory').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('#selectcategory').val('').trigger('chosen:updated');
                        $('#selectcategory').val('1').trigger('chosen:updated');
                    }
                });
            }
            else { $('#selectcategory').val('').trigger('chosen:updated'); }
            console.log($('#selectcategory').val().length);
        });
    });
  </script>
 @Html.DropDownList("selectcategory", (SelectList)ViewBag.category, new { id = "selectcategory", @class = "form-control selectmultiple" , @multiple = "multiple",})
    @*//end upload post*@
 @*   @Html.Partial("../UserHome/_posts", Model)*@
 <div id="postsection">
    @Html.Partial("../UserHome/_Posts", Model)
         </div>   

<div id="loadMoreSection" ></div>
<div  style="text-align:center">
 <input type="button" style=" background: transparent; border: none;outline:none;margin-bottom:20px" value="load more" id="btnLoad" align="center"> @*type="button"*@

  </div>

@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
