@model IEnumerable<CommonWeal.Data.RegisteredUser>

<div class="row">
    <div class="col-md-12 ">
        <div class="requests">
            <table class="tableAdmin col-md-12">
                <thead class="tableheader col-md-12">
                    <tr>
                        <th class="col-md-3">USER NAME</th>
                        <th class="col-md-3">E-MAIL ID</th>
                        <th class="col-md-3">UNBLOCK</th>
                        <th class="col-md-3">RESET PWD</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {                       
                    <tr class="admintable">
                        <td class="col-md-3 adminTableData">@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td class="col-md-3 adminTableData"><a>@Html.DisplayFor(modelItem => item.UserEmail) </a></td>
                        <td class="col-md-3 adminTableData"><a href="/admin/unblockUsers/@item.LoginID" class="fa fa-unlock fa-2x" aria-hidden="true" style="color:green"></a></td>
                        <td class="col-md-3 adminTableData"><a href="#">Reset</a></td>
                    </tr>     
                }
                <i><a href="/Admin/" style="font-size: 16px;">Back to Dashboard</a></i>
            </table>
        </div>
    </div>
</div>
