@model IEnumerable<CommonWeal.Data.NGOUser>
 
 <div class="row">
        <div class="col-md-12 ">
            <div class="requests">
            <table class="tableAdmin col-md-12">
                          <thead class="tableheader">
                              <th>NGO NAME</th>
                              
                              <th >NGO URL</th>
                              <th >UNBLOCK</th>

                          </thead>
                      @foreach (var item in Model)
                      { 
                      
                         <tr>

                              <td class="tableData"> @Html.DisplayFor(modelItem => item.NGOName)</td>
                              <td class="tableData"><a> @Html.DisplayFor(modelItem => item.NGOEmailID) </a></td>
                             
                              <td class="tableData"><a href="/admin/unblock/@item.LoginID" class="fa fa-unlock fa-2x" aria-hidden="true" style="color:green; margin-left:24px;"></a></td>
                          
                         </tr>
              

                      }
               </table>
             
            </div>
        </div>
    </div>
 