@model IEnumerable<CommonWeal.Data.NGOUser>

<div class="main-panel">
    <div class="row">
        <div class="col-md-8">

            <div class="col-lg-offset-3">
                <h3><strong>Update Password</strong></h3>
            </div>
            <br>
            <br>
            <div class="container">

                <form class="form-horizontal" action="/Admin/changePassword" method="post">
                  <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="NGOEmailID"  placeholder="Enter Email"  required>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" name="NGOPassword"  placeholder="Enter Password"  required>
                        </div>
                    </div>
                        <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                         <button type="submit" class="btn btn-primary" ><span >Update</span></button>   
                        </div>
                       
         
                    </div>
                   
                </form>
            </div>
        </div>
        </div>

</div>

@*<form class="form-horizontal" action="/admin/changePassword" method="post">
    <input type="text" class="form-control" name="NGOEmailID"  placeholder="Enter Email"  required>
    <input type="password" class="form-control" name="NGOPassword"  placeholder="Enter Password"  required>
     <button type="submit" class="btn btn-primary" ><span >Update</span></button>   
</form>*@