@model CommonWeal.NGOWeb.Models.AdminChart

@{
    ViewBag.Title = "DisplayGraph";
}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {
        $.get('/Admin/DisplayGraph', {},

 function () {
     var tdata = new google.visualization.DataTable();

     var Months = [@Model.DataValue.Months];
     var NGO = [@Model.DataValue.NGO];
     var User = [@Model.DataValue.User];

     //var data = new google.visualization.DataTable();
     tdata.addColumn('string', '@Model.MonthsTitle');
     tdata.addColumn('number', '@Model.NGOTitle');
     tdata.addColumn('number', '@Model.UserTitle');
     for (i = 0; i < Months.length; i++) {
         tdata.addRow([Months[i].toString(), NGO[0], User[0]]);
     }
     var options = {
         title: 'Active NGO and Users',
         hAxis: { title: '@Model.MonthsTitle', titleTextStyle: { color: 'red' } }
     };


     //var options = {
     //    title: "Country Population"
     //};

     var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
     chart.draw(tdata, options);
 });
}

</script>


<body>
    <!--Div that will hold the pie chart-->


   
    <div id="chart_div" style="background-color: green;">
        <div style="position: relative;">
            <div dir="ltr" style="position: relative; width: 1090px; height: 200px;">
                <div aria-label="A chart." style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                    <svg width="1090" height="200" aria-label="A chart." style="overflow: hidden;">
                        <defs id="defs">
                            <clipPath id="_ABSTRACT_RENDERER_ID_1">
                                <rect x="111" y="38" width="869" height="124"></rect>
                            </clipPath>
                        </defs><rect x="0" y="0" width="1090" height="200" stroke="none" stroke-width="0" fill="#ffffff"></rect><g><text text-anchor="start" x="111" y="23.9" font-family="Arial" font-size="14" font-weight="bold" stroke="none" stroke-width="0" fill="#000000">Active NGO and Users</text>
                            <rect x="111" y="12" width="869" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                        </g><g><rect x="994" y="38" width="82" height="37" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                            <g>
                                <rect x="994" y="38" width="82" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                <g>
                                    <text text-anchor="start" x="1027" y="49.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">NGO</text>
                                </g>
                                <rect x="994" y="38" width="28" height="14" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                            </g>
                            <g>
                                <rect x="994" y="61" width="82" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                <g>
                                    <text text-anchor="start" x="1027" y="72.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">User</text>
                                </g>
                                <rect x="994" y="61" width="28" height="14" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                            </g>
                        </g><g><rect x="111" y="38" width="869" height="124" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                            <g clip-path="url(http://localhost:59144/Admin#_ABSTRACT_RENDERER_ID_1)">
                                <g>
                                    <rect x="111" y="161" width="869" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                    <rect x="111" y="130" width="869" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                    <rect x="111" y="100" width="869" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                    <rect x="111" y="69" width="869" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                    <rect x="111" y="38" width="869" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                                </g>
                                <g>
                                    <rect x="125" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="198" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="270" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="342" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="415" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="487" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="559" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="632" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="704" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="776" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="849" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="921" y="153" width="22" height="8" stroke="none" stroke-width="0" fill="#3366cc"></rect>
                                    <rect x="148" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="221" y="54" width="21" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="293" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="365" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="438" y="54" width="21" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="510" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="582" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="655" y="54" width="21" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="727" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="799" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="872" y="54" width="21" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                    <rect x="944" y="54" width="22" height="107" stroke="none" stroke-width="0" fill="#dc3912"></rect>
                                </g>
                                <g>
                                    <rect x="111" y="161" width="869" height="1" stroke="none" stroke-width="0" fill="#333333"></rect>
                                </g>
                            </g>
                            <g></g>
                            <g>
                                <g>
                                    <text text-anchor="middle" x="147.66666666666666" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">1</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="220" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">2</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="292.3333333333333" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">3</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="364.66666666666663" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">4</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="437" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">5</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="509.3333333333333" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">6</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="581.6666666666666" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">7</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="654" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">8</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="726.3333333333333" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">9</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="798.6666666666666" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">10</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="871" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">11</text>
                                </g>
                                <g>
                                    <text text-anchor="middle" x="943.3333333333333" y="177.23333333333335" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">12</text>
                                </g>
                                <g>
                                    <text text-anchor="end" x="97" y="166.4" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">0</text>
                                </g>
                                <g>
                                    <text text-anchor="end" x="97" y="135.65" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">10</text>
                                </g>
                                <g>
                                    <text text-anchor="end" x="97" y="104.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">20</text>
                                </g>
                                <g>
                                    <text text-anchor="end" x="97" y="74.15" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">30</text>
                                </g>
                                <g>
                                    <text text-anchor="end" x="97" y="43.4" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">40</text>
                                </g>
                            </g>
                        </g><g><g><text text-anchor="middle" x="545.5" y="194.5666666666667" font-family="Arial" font-size="14" font-style="italic" stroke="none" stroke-width="0" fill="#ff0000">Months</text>
                            <rect x="111" y="182.66666666666669" width="869" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                        </g>
                        </g><g></g></svg>
                    <div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Months</th>
                                        <th>NGO</th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>3</td>
                                        <td>35</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <div aria-hidden="true" style="display: none; position: absolute; top: 210px; left: 1100px; white-space: nowrap; font-family: Arial; font-size: 14px; font-weight: bold;">7</div>
            <div></div>
        </div>
    </div>
</body>


