@*   <script>

        $(document).ready(function () {
            $('#getRequest').click();
        });
    </script>*@


<div class="row">
    <div class="top-panel col-md-12">
        <div class="col-md-4 panel panel-default">
            <div class="media bg-primary">
                <div class="media-left pull-left">
                    <i class="icon fa fa-user-plus fa-spin-hover" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h2>Total Request</h2>
                    <br />
                    <h4>Today 
                        <span class="pull-right">15</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="media bg-primary">
                <div class="media-left pull-left">
                    <i class="icon fa fa-rotate-right fa-spin " aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h2>Active NGO</h2>
                    <br />
                    <h4>Today
                        <span class="pull-right">15</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="media bg-primary">
                <div class="media-left pull-left">
                    <i class="icon fa fa-ban fa-spin-hover" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h2>Blocked NGO</h2>
                    <br />
                    <h4>Today
                        <span class="pull-right">15</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="bottom-panel col-md-12">
        <div class="col-md-4">
            <div class="media bg-primary">
                <div class="media-left pull-left">
                    <i class="icon fa fa-users fa-spin-hover" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h2>All Users</h2>
                    <br />
                    <h4>Today
                        <span class="pull-right">15</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="media bg-primary">
                <div class="media-left pull-left">
                    <i class="icon fa fa-ban fa-spin-hover" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h2>Blocked Users</h2>
                    <br />
                    <h4>Today
                        <span class="pull-right">15</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="media bg-primary">
                <div class="media-left pull-left">
                    <i class="icon fa fa-exclamation-triangle fa-spin-hover" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                    <h2>Warned Users</h2>
                    <br />
                    <h4>Today
                        <span class="pull-right">15</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>


@*<table class="col-md-12 col-md-offset-1" style="border:hidden">
    <tr>
        <td>

@using (Ajax.BeginForm("Requests", "Admin",
                null, 
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }
               
                ))     
                      
    {     
    <button id="getRequest" class="fa fa-user-plus fa-5x,btn btn-primary btn-lg  btnMenu" type="submit" style="width:167px;">&nbsp Requests</button>
    
    }
  </td>
<td>
 @using (Ajax.BeginForm("Active_Users", "Admin",
                null, 
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }
           ))
 {         
    
       <button class="fa fa-users fa-5x,btn btn-primary btn-lg "    type="submit" style="width:167px;" >&nbsp Active NGO</button>
 }
    </td>
        <td>

 @using (Ajax.BeginForm("Blocked_Users", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }


                ))
 {        
      <button class="fa fa-ban ,btn btn-primary btn-lg "  type="submit" style="width:164px;">&nbsp Blocked NGO </button>
 }

            </td>
        <td>

 @using (Ajax.BeginForm("All_Users", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }


                ))
 {        
     <a href="/Admin/All_Users"><button class="fa fa-ban ,btn btn-primary btn-lg " type="submit" style="width:164px;">&nbsp All Users</button></a>
 }

            </td>
         <td>

 @using (Ajax.BeginForm("Blocked_NormalUsers", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }


                ))
 {        
      <a href="~/Views/Admin/Blocked_NormalUsers"><button class="fa fa-ban ,btn btn-primary btn-lg "  type="submit" style="width:164px;">&nbsp Blocked Users</button></a>
 }

            </td>
        </tr>
    </table>
    
    <span id="lblResult"></span>      

*@

