<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="col-md-10 pull-right">
    <div class="row">
        <div class="total-count col-md-12">
            <div class="total-request col-md-4">
                <div class="panel panel-default">
                    <div class="panel-top">
                        <a href="/Admin/Requests"><span class="glyphicon glyphicon-hand-up"></span>
                            Total Requests</a>
                    </div>
                    <div class="panel-text"><a href="#">@ViewBag.COR</a></div>
                </div>
            </div>

            <div class="active-users col-md-4">
                <div class="panel panel-default">
                    <div class="panel-top">
                        <a href="/Admin/Active_Users"><span class="glyphicon glyphicon-user"></span>
                            Active Users</a>
                    </div>
                    <div class="panel-text"><a href="#">@ViewBag.COAU</a></div>
                </div>
            </div>

            <div class="blocked-users col-md-4">
                <div class="panel panel-default">
                    <div class="panel-top">
                        <a href="/Admin/Blocked_Users"><span class="glyphicon glyphicon-ban-circle"></span>
                            Blocked Users</a>
                    </div>
                    <div class="panel-text"><a href="#">@ViewBag.COBU</a></div>
                </div>
            </div>
        </div>
    </div>
</div>



