@model CommonWeal.Data.User


<h2>MoreInfo</h2>
<div class="container">

    <div class="row">


        <div class="col-md-12">

            <form class="form-horizontal" action="/Admin/SendMailFromAdmin/" method="post">

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label" for="email">Email:</label>

                    </div>
                    <div class="col-md-3">
                        <input type="email" class="form-control" name="NGOEmailID" value="@Model.LoginEmailID"required>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label" for="email">Message:</label>

                    </div>
                    <div class="col-md-3">
                        <textarea class="form-control" rows="4" cols="50" name="Message"></textarea>
                    </div>

                </div>
                <br>
                <br>
                <br>
                <div class="form-inline col-md-6 col-md-push-5">
                    <div class="ngoviewdetails">
                        <button type="submit" class="btn-primary">Send</button>

                    </div>
                </div>


            </form>

        </div>



    </div>

</div>
