@model IEnumerable<CommonWeal.Data.NGOUser>

<div >
       <div class="row">
        <div class="col-md-12 ">
            <div class="requests">
            <table class="tableAdmin">
                          <thead class="tableheader">
                              <th>NGO NAME</th>
                              <th>NGO Email</th>
                              <th >NGO URL</th>
                              <th >ACCEPT</th>

                          </thead>
                      @foreach (var item in Model)
                      { 
                      
                         <tr>

                              <td class="tableData"> @Html.DisplayFor(modelItem => item.NGOName)</td>
                              <td class="tableData"><a> @Html.DisplayFor(modelItem => item.NGOEmailID) </a></td>
                              <td class="tableData"><a>@Html.DisplayFor(modelItem => item.WebsiteUrl) </a><td>
                              <a href="/admin/Accept/@item.LoginID" class="fa fa-check fa-2x" aria-hidden="true" style="color:green"></a>
                          
                         </tr>
              

                      }
               </table>
             
            </div>
        </div>
    </div>
 
