@model IEnumerable<CommonWeal.Data.NGOUser>
<script src="~/Content/DataPlugIn/jquery-1.11.2-jquery.min.js"></script>
<link href="~/Content/DataPlugIn/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/DataPlugIn/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="requests">
            <table id="myTable" class="tableAdmin col-md-12">
                <thead class="tableheader col-md-12">
                    <tr>
                        <th class="col-md-3">NGO NAME</th>
                        <th class="col-md-3">NGO EMAIL</th>
                        <th class="col-md-3">UNWARN</th>
                       
                    </tr>
                </thead>
                @foreach (var item in Model)
                {                       
                    <tr>
                        <td class="col-md-3 adminTableData">@Html.DisplayFor(modelItem => item.NGOName)</td>
                        <td class="col-md-3 adminTableData">@Html.DisplayFor(modelItem => item.NGOEmailID)</td>
                        <td class="col-md-3 adminTableData"><a href="/admin/UnwarnNGO/@item.LoginID" class="fa fa-exclamation-triangle fa-2x"  aria-hidden="true" style="color:green"></a></td>
                       
                    </tr>    
                }
                <i><a href="/Admin/" style="font-size: 16px;">Back to Dashboard</a></i>
                <h3>
                    <center><strong>Warned NGOs </strong></center>
                </h3>
            </table>
        </div>
    </div>
</div>
