@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
@{
    ViewBag.Title = "All Rights Reserved";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#selectcategory").live("change", function () {
            var categoryList = $(this).val();
            //console.log(categoryList);
            if (categoryList.length == 0) {
                categoryList = ['1'];
            }
            // console.log('inside');
            var things = JSON.stringify({ 'category': categoryList });
            $.ajax({
                contentType: 'application/json; charset=utf-8',

                type: 'POST',
                url: '/post/GetPostByCategory2',
                data: things,
                success: function (result) {
                    // console.log(result);
                    if (result != null) {
                        $("#postsection").html("");
                        $("#loadMoreSection").html("");
                        $("#loadMoreSection").append(result);
                    }
                    $.post("/post/getpostCount", function (result1) {
                        // alert(result1);
                        var total = result1 - 5;

                        if (total <= 0) {
                            //alert(result1 + "" + total)

                            if (result1 <= 5 && result1 > 0) {
                                $(".btnLoad").val('No more post');
                                $(".btnLoad").attr('disabled', true);
                            }
                            if (result1 <= 0) {
                                $(".btnLoad").val('No post found');
                                $(".btnLoad").attr('disabled', true);
                            }
                        }
                        else {
                            $(".btnLoad").prop("disabled", false);
                            $(".btnLoad").val("See more posts");
                            //  alert("clickable");

                        }


                        // alert(result);
                    });
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });


        });

        $("#selectcategory").chosen();
        $('#selectcategory').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('#selectcategory').val('').trigger('chosen:updated');
                        $('#selectcategory').val('1').trigger('chosen:updated');
                    }

                });
            }
            else { $('#selectcategory').val('').trigger('chosen:updated'); }
            //console.log($('#selectcategory').val().length);
        });



    });

</script>

<style>
    .top-ngo {
        top: 70px;
        font-size: 20px;
        padding: 5px;
    }

    .list-top-ngo {
        padding-left: 10px;
    }

    /*.ngo 

    {
        position: absolute;
        padding-top: 85px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00506b;
    }*/

    .ngo {
        color: #000000;
        text-decoration: none!important;
    }

    .ngo-list:hover {
        background-color: #D3D3D3;
    }

    .top-text {
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
    }

    .ngo-list {
        list-style-type: none;
    }
</style>


<div class="container-fluid">
    <div class="side-nav  nav-list col-md-2">
        <div class="form-inline col-md-12">
            <div class="input-group search-box">
                <input type="text" class="form-control search-form" placeholder="Search NGO by Name">
                <!--DO NOT NEED TRAILING SLASH "/" As HTML5 FORMS SLASHES ARE NO LONGER REQUIRED-->
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="top-ngo col-md-12 list-inline">
            <div id="mySidenav" class="sidenav">
                <p class="top-text">Top Five NGOs</p>
                <ul class="list-top-ngo">
                    <li class="ngo-list"><a class="ngo" href="/NGOProfile/Index/7175">Samman</a></li>
                    <li class="ngo-list"><a class="ngo" href="/NGOProfile/Index/7173">Being Human</a></li>
                    <li class="ngo-list"><a class="ngo" href="/NGOProfile/Index/7245">Literacy India</a></li>
                    <li class="ngo-list"><a class="ngo" href="/NGOProfile/Index/7314">Sarthak Prayas</a></li>
                    <li class="ngo-list"><a class="ngo" href="/NGOProfile/Index/7314">Manav Lok</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row col-sm-10 col-sm-push-1  selectcategory">
        @Html.DropDownList("selectcategory", (SelectList)ViewBag.category, new { id = "selectcategory", @data_placeholder = "Search by Category", @class = "form-control chosen-with-icon ", @multiple = "multiple" })
    </div>
    <br />
    <div id="postsection">
        @Html.Partial("../UserHome/_Posts", Model)
    </div>
    <div id="loadMoreSection"></div>
    <div style="text-align: center" id="morePost">
        <input type="button" style="background: transparent; border: none; outline: none; color: #0f66f1; font-weight: 400; width: 200px;" value="See more posts" class="btnLoad" id="btnLoad" align="center">
        @*type="button"*@
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
