@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
@{
    ViewBag.Title = "All Rights Reserved";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectcategory").change(function () {

            if ($(this).val() > 0) {
                $.post("/post/GetPostByCategory?category=" + $(this).val(), function (result) {

                    // $("#loadMoreSection").append(result);
                    //    console.log(result);
                    if (result != null) {
                        $("#postsection").html("");
                        $("#loadMoreSection").html("");
                        $("#loadMoreSection").append(result);
                    }
                    //    //console.log(result);
                });
            }

        });

        $(".chosen-select-multiple").chosen();
        $('.chosen-select-multiple').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('.chosen-select-multiple').val('').trigger('chosen:updated');
                        $('.chosen-select-multiple').val('1').trigger('chosen:updated');
                    }
                });
            }
            else { $('.chosen-select-multiple').val('').trigger('chosen:updated'); }
            console.log($('.chosen-select-multiple').val().length);
        });



    });
  </script>
@* @Html.DropDownList("selectcategory", (SelectList)ViewBag.categoryList, new { id = "selectcategory", @class = "form-control selectcategory" })*@

<div id="postsection">
    @Html.Partial("../UserHome/_Posts", Model)
         </div>   


<div id="loadMoreSection"></div>


@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
