@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
@{
    ViewBag.Title = "All Rights Reserved";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectcategory").change(function () {
            var categoryList = $(this).val();
            //console.log(categoryList);
            if (categoryList==null ) {
                categoryList = ['1'];
            }
                // console.log('inside');
                var things = JSON.stringify({ 'category': categoryList });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',

                    type: 'POST',
                    url: '/post/GetPostByCategory2',
                    data: things,
                    success: function (result) {
                        // console.log(result);
                        if (result != null) {
                            $("#postsection").html("");
                            $("#loadMoreSection").html("");
                            $("#loadMoreSection").append(result);
                        }
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });
             
        });

        $("#selectcategory").chosen();
        $('#selectcategory').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('#selectcategory').val('').trigger('chosen:updated');
                        $('#selectcategory').val('1').trigger('chosen:updated');
                    }
                    
                });
            }
            else { $('#selectcategory').val('').trigger('chosen:updated'); }
            //console.log($('#selectcategory').val().length);
        });



    });
    
  </script>
<div class="col-sm-10 col-sm-push-1">
   @Html.DropDownList("selectcategory", (SelectList)ViewBag.category, new { id = "selectcategory", @class = "form-control selectcategory", @multiple = "multiple" })
</div>
<br/>
<br/>

<div id="postsection" class="row  col-md-12 ">
    @Html.Partial("../UserHome/_Posts", Model)
         </div>   


<div id="loadMoreSection"></div>
<div  style="text-align:center">
 <input type="button" style=" background: transparent; border: none;outline:none;margin-bottom:20px; width:200px;" value="See more posts" id="btnLoad" align="center"> @*type="button"*@

  </div>


@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
