
@{
    ViewBag.Title = "Index";
}

<head>
   <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    @*    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>*@


</head>

<body>
  
</body> 
 


