@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>


<br/>
<div class="col-md-12">
@Html.Partial("../UserHome/_Posts", Model)
    </div>
 
<script>

    var post = new post();


    post.post='sd'

    post.submitpost();

</script>



