@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>



@Html.Partial("../UserHome/_Posts", Model)

 
<script>

    //var post = new post();


    //post.post='sd'

    //post.submitpost();

</script>

<div id="loadMoreSection"></div>

 <input type="button" value="Load more..." id="btnLoad">

@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}
