@*Edited by Neha M.*@

@model IEnumerable<CommonWeal.Data.NGOUser>
<script src="~/Content/DataPlugIn/jquery-1.11.2-jquery.min.js"></script>
<link href="~/Content/DataPlugIn/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/DataPlugIn/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Admin/All_User.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="requests">
                <table id="myTable" class="tableAdmin col-md-12">
                    <thead class="tableheader col-md-12">
                        <tr>
                            <th class="col-md-3">NGO NAME</th>
                            <th class="col-md-3">NGO URL</th>

                            <th class="col-md-3">WARN</th>
                            <th class="col-md-3">BLOCK</th>
                            @* <th class="col-md-2">RESET PWD</th>*@
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {                       
                        <tr id="BlockNGO-@item.LoginID">
                            <td class="col-md-3 col-md-push-1 adminTableDataleft">@Html.DisplayFor(modelItem => item.NGOName)</td>
                            <td class="col-md-3 col-md-push-1 adminTableDataleft"><a>@Html.DisplayFor(modelItem => item.NGOEmailID) </a></td>

                            <td class="col-md-2 adminTableData"><span id="warn-@item.LoginID" class="fa fa-exclamation-triangle fa-2x warn"  title="Warn" style="color:red; cursor:pointer"></span></td>

                            <td class="col-md-2 adminTableData"><span id="blockngo-@item.LoginID" class="fa fa-ban fa-2x blockngo"  title="Block" style="color:red;cursor:pointer"></span></td>
                            @* <td class="col-md-2 adminTableData"><a href="#">Reset</a></td>*@
                        </tr>    
                    }
                    <i><a href="/Admin/" style="font-size: 16px;">Back to Dashboard</a></i>
                    <h3>
                        <center><strong>Active NGOs </strong></center>
                    </h3>
                </table>
            </div>
        </div>
    </div>
</div>



@if (TempData["WS"] != null)
{
    @Html.Raw(TempData["WS"])
}

