@model IEnumerable<CommonWeal.Data.NGOUser>
<script src="~/Content/DataPlugIn/jquery-1.11.2-jquery.min.js"></script>
<link href="~/Content/DataPlugIn/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/DataPlugIn/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="requests">
                <table id="myTable" class="tableAdmin col-md-12">
                    <thead class="tableheader col-md-12">
                        <tr>
                            <th class="col-md-4">NGO NAME</th>                           
                            <th class="col-md-4">VIEW DETAILS</th>
                            <th class="col-md-4">STATUS</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {                       
                        <tr>
                            <td class="col-md-4  adminTableDataleft" style="text-align: center;">@Html.DisplayFor(modelItem => item.NGOName)</td>                          
                            <td class="col-md-4 adminTableData" title="View Details"><a href="/admin/ViewDetails/@item.LoginID" class="fa fa-address-card-o" aria-hidden="true" style="color:black;font-size:large"></a>
                                @if (item.IsDecline == true)
                                { 
                                    <td class="col-md-3 adminTableData">Declined</td>
                                }
                                else if (item.IsActive == false)
                                {
                                    <td class="col-md-3 adminTableData">Request Submitted</td>
                                }
                                else
                                {
                                    <td class="col-md-3 adminTableData">Pending</td>
                                }

                        </tr>   
                    }
                    <i><a href="/Admin/" style="font-size: 16px;">Back to Dashboard</a></i>
                    <h3>
                        <center> <strong>NGOs Request</strong></center>
                    </h3>
                </table>
            </div>
        </div>
    </div>
</div>
